@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Lexend:wght@400;500;600;700&family=Noto+Sans:wght@300;400;500;600;700;800;900&display=swap');

* {
  font-family: "Noto Sans", sans-serif;
}
.lato {
  font-family: "Lato", sans-serif;
}
.lexend{
    font-family: 'Lexend', sans-serif;
}
body,
html {
  overflow-x: hidden;
  background-color: #0a0a0e;
}
.custom-container {
  width: 1240px;
  max-width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

/* header */
.header {
  background-image: linear-gradient(transparent, black),
    url("../images/hero-bg.png");
  background-size: 100%;
  background-position: left;
  padding: 30px 0;
}

/* hero */
.title {
  background: linear-gradient(233deg, #4de9d3 0%, #109df7 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 56px;
  font-weight: 700;
}

.links a:hover{
    background-color: rgba(255,255,255,0.1);
}

/* trusted by */
.trusted-by{
    background: url("../images/trustedby.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.btn-circle-left {
    position: absolute;
    bottom: -100px;
    left: 47%;
    transform: translateX(-47%);
}

.btn-circle-right {
    position: absolute;
    bottom: -100px;
    right: 47%;
    transform: translateX(-47%);
}